.main-container {
    margin     : 0 auto;
    width      : 80%;
    min-height : 100vh;
    display    : flex;
    align-items: center;
}

.img-list {
    display              : grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap             : 10px;
    width                : 100%;
}

.img-container {
    display      : block;
    border       : rgb(68, 68, 68) 5px solid;
    border-radius: 50%;
    width        : 150px;
    height       : 150px;
    overflow     : hidden;
    margin       : 0 auto;
}

.img-container:hover {
    border    : rgb(235, 213, 22) 5px solid !important;
    transform : rotate(45deg);
    transition: 1s;
}

.img {
    width : 100%;
    height: 100%;
}

.img-container:nth-child(4n+1) {
    border: rgb(255, 0, 0) 5px solid;
}

@media only screen and (max-width: 900px) {
    .img-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .img-container:nth-child(2n+1) {
        border: rgb(255, 0, 0) 5px solid;
    }
}

@media only screen and (max-width: 500px) {
    .img-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .img-container {
        border: rgb(255, 0, 0) 5px solid;
    }
}