.main-container {
    margin         : 0 auto;
    width          : 80%;
    min-height     : calc(100vh - 120px);
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

.header {
    width : 100%;
    height: 60px;
}

.header-container {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    height          : 100%;
    background-color: rgb(211, 177, 208);
    padding         : 0 30px;
}

.footer {
    height          : 60px;
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: rgb(211, 177, 208);
}

.img-list {
    display              : grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap             : 10px;
    width                : 100%;
    padding              : 15px 0;
}

.img-container {
    display      : block;
    border       : rgb(68, 68, 68) 5px solid;
    border-radius: 50%;
    width        : 150px;
    height       : 150px;
    margin       : 0 auto;
}

.img-container:hover {
    border    : rgb(235, 213, 22) 5px solid !important;
    transition: 3s;
}

.img {
    width        : 100%;
    height       : 100%;
    border-radius: 50%;
    overflow     : hidden;
}

.img:hover {
    transform : rotate(45deg);
    transition: 1s;
}

.img-container:nth-child(4n+1) {
    border: rgb(255, 0, 0) 5px solid;
}

.overlay {
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    background-color: rgba(0, 0, 0, 0.801);
    z-index         : 20;
}

.custom-modal {
    width    : 75vw;
    max-width: 100vw;
    position : fixed;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
    z-index  : 30;
    padding  : 30px;
}

.custom-modal__img {
    width: 100%;
}

.btn-close-modal {
    color: #fff !important;
}

@media only screen and (max-width: 900px) {
    .img-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .img-container:nth-child(2n+1) {
        border: rgb(255, 0, 0) 5px solid;
    }

    .custom-modal {
        width: 100vw;
    }
}

@media only screen and (max-width: 500px) {
    .img-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .img-container {
        border: rgb(255, 0, 0) 5px solid;
    }
}